/* adjacent float:left came from
 * <http://www.barelyfitz.com/screencast/html-training/css/positioning/>
 */
#input {
  float: left;
  /* inline-block tip came from
   * <http://stackoverflow.com/questions/450903/make-div-width-equal-to-child-contents>
   */
  display: inline-block;
}

#pmachine {
  float: left;
  display: inline-block;
}

#instruction_div {
  float: left;
  display: inline-block;
}

#stack-div {
  float: left;
  display: inline-block;
}

#pc_row > td {
  background-color: #fff79a;
}

#label_body > tr > td {
  font-family: monospace;
}

.register_values > td {
  font-family: monospace;
}

#istore_body > tr > td {
  font-family: monospace;
}

#dstore_body > tr > td {
  font-family: monospace;
}

#control {
  /*border: 1px solid red;*/
}

#control > li {
  list-style-type: none;
  display: inline;
}

