/* adjacent float:left came from
 * <http://www.barelyfitz.com/screencast/html-training/css/positioning/>
 */
#input {
  float: left;
  /* inline-block tip came from
   * <http://stackoverflow.com/questions/450903/make-div-width-equal-to-child-contents>
   */
  display: inline-block;
}

#pmachine {
  float: left;
  display: inline-block;
}

#instruction_div, #dstore_div, #label_table, #constants_table {
  float: left;
  display: inline-block;
  border: 1px solid black;
  margin-left: 1em;
}

#stdio_div {
  margin-left: 100px;
  float: left;
  display: inline-block;
  border: 1px solid black;
}

#dstore_annotations {
  float: left;
  display: inline-block;
}

#pc_row > td {
  background-color: #fff79a;
}

#label_body > tr > td, .register_values > td, #istore_body > tr > td, #dstore_body > tr > td, #constants_body > tr > td {
  font-family: monospace;
  border: 1px solid black;
}

#control {
  /*border: 1px solid red;*/
}

#control > li {
  list-style-type: none;
  display: inline;
}

#reg_pc, #val_pc, #pc_row {
  background-color: #fff79a;
}

#reg_sp, #val_sp, #sp_row {
  background-color: #ffc8e3;
}

#reg_mp, #val_mp, #mp_row {
  background-color: #a8a8ff;
}

#reg_np, #val_np, #np_row {
  background-color: #a3feba;
}

#reg_ep, #val_ep, #ep_row {
  background-color: #ffbd82;
}

.just_changed {
  color: red;
  font-weight: bold;
}

#stdio_list {
  display: block;
  list-style-type: none;
}

#dstore_div {
  overflow: hidden;
  width: auto;
}

#dstore {
  display: inline-block;
}

div.arrows {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100px;
}

div.arrows > * {
  position: absolute;
}

svg {
  position: absolute;
  height: 100%;
  width: 100px;
}

